<% include ../partials/header %>

<div class="row">
  <h1 class="text-center">Add your review to
    <%= campground.name %>
  </h1>

  <div style="width:75%; margin:30px auto;">
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="form-group">
        <textarea class="form-control review-editor" type="text" name="comment[text]" placeholder="Write your review here..."
          rows="10"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Post Review</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>
</div>

<% include ../partials/footer %>