.thumbnail img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.thumbnail{
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline-block;
}

.auth-form {
  width: 30%; 
  margin: 25px auto;
}

.profile-header {
  margin-bottom: 4rem;
}

#map {
  height: 400px;
  width: 100%;
}

#user-icon {
  margin-top: 5rem;
  margin-left: 5rem;
}

.glyphicon-user {
  transform: scale(5);
}

#mceu_11 {
  border-radius: 4px;
}

.footer {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  padding: 2rem;
  margin-top: 5rem;
}

.footer-text > a:link,
.footer-text > a:visited {
  text-decoration: none;
  transition: all .2s;
}